// -----------------------------
// Buttons
// -----------------------------

.scroll-down {
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    width:70px;
    height:60px;
    color:$color-white-01;
    cursor: pointer;

    position:absolute;
    margin:auto;
    left:0; right:0; bottom:0;

    @include transition(background-color .3s);

    &:hover {
        background-color: $color-black-02;
    }

    @include media-breakpoint-down(xl){
        width:60px;
        height:50px;
    }
    @include media-breakpoint-down(sm){
        border-top: solid 4px white;
        border-left: solid 4px white;
        border-right: solid 4px white;

        width:50px;
        height:40px;
    }

    > div {
        line-height: 52px;
        white-space: nowrap;
        text-align: center;

        @include media-breakpoint-down(xl){
            line-height: 44px;
        }
        @include media-breakpoint-down(sm){
            line-height: 36px;
        }
    }

    .icon {
        @include rem(font-size, 28px);

        @include media-breakpoint-down(xl){
            @include rem(font-size, 24px);
        }
        @include media-breakpoint-down(sm){
            @include rem(font-size, 21px);
        }
    }

}//.scroll-down


// Social share button styles
// -----------------------------
#socialShare {

    .btn--share {
        color:white;
        @include media-breakpoint-down(xs){
            vertical-align: inherit;
            margin-left:0;
        }
        &.hover {
            color:white;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    a,
    > .socialBox {
      position: relative;
      float: none;
      display: inline-block;
      color: #fff;
      background-color: transparent;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
    }

    a {
      background-color: rgba(0, 0, 0, 0.2);
    }

    > * > span {
      background-color: rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
      display: block;
      color: #fff;
      font-size: 16px;
      padding: 8px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all .35s ease-in-out;
      -moz-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
    }

    > * > span:hover,
    > .open > span {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      transform: scale(1.25);
      -webkit-transition: all .15s ease-in-out;
      -moz-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
    }
}//#socialShare

#socialGallery {
    margin: 0 auto 0;
    position: absolute;
    top: 25px;
    right:0;
    left:-1px;
    //visibility: hidden;
    //opacity: 0;
    //display:none;
    width: auto;

    a {
        //visibility: hidden;
        opacity: 0;
        margin: 3px 2px;
        background-color: rgba(0, 0, 0, 0.4);
        position: relative;
        top: 10px;

        > span {
            position: relative;
            top: 4px;
            left: 4px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
    }
}//#socialGallery

.socialToolBox {
  cursor: default;
}
.pointer {
  cursor: pointer
}
// end ----------------

// Button Read more less
// -----------------------------
.btn-read {
    cursor: pointer;
    @include rem(font-size,24px);
    color:$color-black-01;
    text-decoration: underline;
    font-weight: 700;
    text-align:center;
    @include media-breakpoint-down(xl){
        @include rem(font-size, 21px);
    }
    @include media-breakpoint-down(lg){
        @include rem(font-size, 18px);
    }
}//.btn-read


// Button Fancy
// -----------------------------
.btn-box {
    width:auto;
    margin:0 auto;
    text-align:center;
}
.btn-fancy {
	border: none;
	@include rem(font-size, 28px);
    text-align: center;
	cursor: pointer;
	padding: 8px 45px;
	display: inline-block;
	margin: 15px auto;
	font-weight: 500;
    //letter-spacing: 0.5px;
	outline: none;
	position: relative;
    background: $primary;
    color: #fff !important;
    box-shadow: 6px 6px $color-black-01;
    text-decoration: none !important;

    @include media-breakpoint-down(lg){
        @include rem(font-size, 21px);
        padding: 7px 32px;
    }

    &:hover {
    	box-shadow: 4px 4px $color-black-01;
    	top: 2px;
        right: -2px;
        color:inherit;
    }
    &:active {
    	box-shadow: 0 0 $color-black-01;
    	top: 6px;
        right: -6px;
    }
    &:focus {
        outline:inherit;
    }

    &--footer {
        background: $color-white-01;
        color: $color-black-01 !important;
        @include rem(font-size, 32px);
        @include rem(padding, 4px 40px 8px 40px);
        font-weight:400;

        @include media-breakpoint-down(xl){
            @include rem(font-size, 27px);
            @include rem(padding, 4px 26px 8px 26px);
        }
        @include media-breakpoint-down(lg){
            @include rem(font-size, 24px);
            @include rem(padding, 4px 22px 8px 22px);
        }
        @include media-breakpoint-down(sm){
            @include rem(font-size, 22px);
            @include rem(padding, 2px 12px 4px 12px);
        }

        .icon {
            @include rem(font-size, 26px);

            @include media-breakpoint-down(xl){
                @include rem(font-size, 22px);
            }
            @include media-breakpoint-down(lg){
                @include rem(font-size, 20px);
            }
            @include media-breakpoint-down(sm) {
                @include rem(font-size, 17px);
            }

            &-phone {
                @include rem(font-size, 28px);

                @include media-breakpoint-down(xl){
                    @include rem(font-size, 22px);
                }
                @include media-breakpoint-down(lg){
                    @include rem(font-size, 20px);
                }
                @include media-breakpoint-down(sm) {
                    @include rem(font-size, 22px);
                }
                &:before {
                    vertical-align: middle;
                    @include media-breakpoint-down(xl){
                        @include rem(margin-right,0px);
                    }
                }
            }
            &-mail-alt {
                @include rem(margin-right,4px);

                @include media-breakpoint-down(xl){
                }
                @include media-breakpoint-down(lg){
                }
                @include media-breakpoint-down(sm) {
                    @include rem(margin-right,2px);
                }
            }
            &:before {
                margin-left:0;
            }
        }

    }
}//.btn-fancy


// btn social
// -----------------------------
.btn-social {
    padding:0;
    position:relative;
    display: inline-block;
    color:$color-white-01;
    border:solid 2px $color-white-01;
    @include border-radius(50%);
    width:66px;
    height:66px;
    @include transition(background-color .3s);
    @include rem(margin, 0 8px);
    text-decoration: none !important;

    @include media-breakpoint-down(xl){
        width:60px;
        height:60px;
    }
    @include media-breakpoint-down(lg){
        width:52px;
        height:52px;
    }
    @include media-breakpoint-down(sm) {
        width:60px;
        height:60px;
        @include rem(margin-right,2px);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        color:$color-white-01;
    }

    .icon {
        @include rem(font-size, 32px);
        @include media-breakpoint-down(xl){
            @include rem(font-size, 30px);
        }
        @include media-breakpoint-down(lg){
            @include rem(font-size, 28px);
        }
        @include media-breakpoint-down(sm) {
            @include rem(font-size, 32px);
        }

        &:before {
            margin:0;
            display:block;
            margin:auto;
            position:absolute;
            top:0; right:0; left:0; bottom:0;
            @include media-breakpoint-down(lg){
                bottom:-2px;
            }
        }
        &-twitter:before {
            width:29px;
            height:32px;
        }
        &-linkedin:before {
            width:28px;
            height:34px;
        }
    }
}//.btn-social


// return top top button
// -----------------------------
#return-to-top {
    position: fixed;
    bottom: 0px;
    right: 15px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 32px;
    display: block;
    text-decoration: none;
    z-index: 9999;
    //display: none;
    //opacity:0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor:pointer;

    i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 7px;
        top: 3px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }
    &:hover i {
        color: #fff;
        top: 5px;
    }
}//#return-to-top