# Ignore node_modules
node_modules/

# Ignore build directories
.next/
out/
build/

# Ignore coverage directory
coverage/

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env

# Ignore all .min.js files
*.min.js

# Ignore any other files or directories you want to exclude