// -----------------------------
// Header
// -----------------------------

.site-header {
    @include rem(padding-top, 15px);
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);

    @include media-breakpoint-down(xs){
        @include rem(padding-top, 10px);
    }
}//.site-header


.header-up {
    .btn {
        @include transition(all .3s)
    }
}

.header-down {
    .btn {
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: #666 0px 0px 3px;
        -moz-box-shadow: #666 0px 0px 3px;
        box-shadow: #666 0px 0px 3px;
    }
}
