// -----------------------------
// Head Hero
// -----------------------------

.masthead {
    background-color: $color-green-01;
    position:relative;
    @include rem(margin-bottom,80px);

    @include media-breakpoint-down(xs) {
        //max-height:520px;
        //@include rem(margin-bottom,60px)
        @include rem(padding-bottom, 60px);
    }

    .container {
        height:100%;
        @include media-breakpoint-up(sm) {
            padding:0;
        }
        @include media-breakpoint-down(xs) {
            padding-top:72px;
        }
    }//.container

    .grid {
        height:100%;
        padding:0;
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);

        @include media-breakpoint-down(md){
            @include justify-content(center);
            @include flex-direction(column)
        }
        @include media-breakpoint-down(xs){
            display:block;
        }
    }//.grid

    .column {
        padding:0;

        @include media-breakpoint-down(md){
            width:600px;
        }
        @include media-breakpoint-down(sm){
            width:570px;
        }
        @include media-breakpoint-down(xs){
            width:350px;
            margin:auto;
        }
        @media (max-width:380px) {
            width:100%;
        }

        &:first-child { // image
            img {
                display:block;
                width:720px;

                @include media-breakpoint-down(xl){
                    width:640px;
                }
                @include media-breakpoint-down(lg){
                    width:510px;
                }
                @include media-breakpoint-down(md){
                    width:100%;
                    @include rem(margin-bottom,18px)
                }
                @include media-breakpoint-down(xs){
                    width:100%;
                    min-width: inherit;
                    @include rem(margin-bottom,12px)
                }
            }
        }
        &:last-child { // intro - payoff
            margin-top:-5%;

            @include media-breakpoint-down(xl){
                margin-top:-4%;
            }
            @include media-breakpoint-down(lg){
                margin-top:-2%;
            }
            @include media-breakpoint-down(md){
                margin-top:0;
            }
            @include media-breakpoint-down(xs){
                @include rem(margin-bottom, 80px)
            }
            @media (max-width:320px) {
                @include rem(margin-bottom, 60px)
            }
        }
    }//.column

}//.masthead


.intro {
    color:$color-white-01;
    width:490px;
    @include media-breakpoint-down(xl) {
        width:430px;
    }
    @include media-breakpoint-down(lg) {
        width:380px;
    }
    @include media-breakpoint-down(md) {
        width:100%;
    }

    &__title {
        @include rem(font-size, 70px);
        @include rem(margin-bottom, 5px);
        font-weight:400;
        line-height: 1;

        @include media-breakpoint-down(xl) {
            @include rem(font-size, 62px)
        }
        @include media-breakpoint-down(lg) {
            @include rem(font-size, 52px)
        }
        @include media-breakpoint-down(xs) {
            @include rem(font-size, 44px);
            @include rem(margin-bottom, 1px)
        }

    }

    &__subtitle {
        @include rem(font-size, 36px);
        @include rem(margin-bottom, 15px);
        font-weight:400;
        line-height: 1;

        @include media-breakpoint-down(lg) {
            @include rem(font-size, 30px)
        }
        @include media-breakpoint-down(md) {
            @include rem(font-size, 27px)
        }
        @include media-breakpoint-down(xs) {
            @include rem(font-size, 23px);
            @include rem(margin-bottom, 8px)
        }
    }

    &__desc {
        @include rem(font-size, 24px);
        font-weight:400;
        line-height: 1.4;

        @include media-breakpoint-down(xl) {
            @include rem(font-size, 21px)
        }
        @include media-breakpoint-down(lg) {
            //@include rem(font-size, 18px)
        }
        @include media-breakpoint-down(xs) {
            @include rem(font-size, 16px);
            line-height: 1.2;
        }
    }

}//.intro
