// -----------------------------
// Navigation
// -----------------------------

.navigation {
    @include flexbox();
    @include justify-content(center);
    //@include align-items(flex-start);

    .button-left {
        @include flex(1);

        .btn--tel {
            @include rem(font-size, 18px);
            @include rem(padding-top, 5px);
            line-height: 1;

            .icon {
                display:inline-block;
                position:relative;

                //@include rem(font-size, 14px);
                width:15px;
                height:15px;

                &:before {
                    position:absolute;
                    top:2px; bottom:0; right:0; left:0;
                    margin:0;
                }
            }

            span {
                margin-left:2px;
            }
        }
    }//.button-left

    .brand {
        //@include flex(2)
        //display:block;
        margin:auto;
        //position:absolute;
        position:relative;
        top:8px;
        top:-7px;

        @include media-breakpoint-down(xs){
            top:7px;
            top:-3px;
        }

        img {
            display:block;
            width:132px;
            height:auto;
            margin:0 auto;

            @include media-breakpoint-down(xs){
                width:100px;
            }
        }
    }

    .button-right {
        @include flex(1);

        @include flexbox();
        @include justify-content(flex-end);

        .btn {
            padding:0;
            position:relative;
            @include rem(margin-left, 7px);

            .icon {
                @include rem(font-size, 16px);
                color:white;

                &:before {
                    margin:0;
                    display:block;
                    margin:auto;
                    position:absolute;
                    top:0; right:0; left:0; bottom:0;
                }

                &-twitter:before {
                    width:16px;
                    height:17px;
                }
                &-linkedin:before {
                    width:16px;
                    height:18px;
                }
                &-mail-alt:before {
                    @include rem(font-size, 15px);
                    width:15px;
                    height:16px;
                }
                &-share:before {
                    width:15px;
                    height:16px;
                    left:-2px;
                }
            }
        }
    }

    .btn {
        color:$color-white-01;
        border:solid 1px $color-white-01;
        @include border-radius(50%);
        width:32px;
        height:32px;
        @include transition(background-color .3s);

        @include media-breakpoint-up(sm) {
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        @include media-breakpoint-down(xs) {
            &.btn--open {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        &--tel {
            width:auto;
            @include border-radius(20px);

            @include media-breakpoint-down(xs){
                width:32px;
                span {
                    display:none;
                }
                .icon:before {
                    left:-5px !important;
                }
            }
        }
    }

}//.navigation
