// -----------------------------
// Site content
// -----------------------------

section {
    @include rem(margin-bottom, 140px);

    @include media-breakpoint-down(xl){
        @include rem(margin-bottom, 120px);
    }
    @include media-breakpoint-down(lg){
        @include rem(margin-bottom, 80px)
    }
    @include media-breakpoint-down(sm){
        @include rem(margin-bottom, 60px)
    }
}
